@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "AkayaKanadaka Script";
  src: url("/fonts/AkayaKanadaka-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("/fonts/OpenSans-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("/fonts/OpenSans-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap; /* swap prevents invisible text while loading */
}

body {
  background-image: url("/images/background.jpg");
  background-color: #e1f5ff;
  background-size: contain;
  color: #220749;
  font-weight: 500;
  font-family: "Open Sans", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  line-height: 1.5rem; /* 24px */
  min-height: 100vh;
}

p {
  letter-spacing: 0.05em;
}

h1 {
  font-size: 1.875rem; /* 30px */
  line-height: 2.25rem; /* 36px */
}

h2 {
  font-size: 1.5rem; /* 24px */
  line-height: 2rem; /* 32px */
  margin-bottom: 2.25rem; /* 36px */
}

a:focus,
input:focus,
textarea:focus,
button:focus {
  outline: 2px solid blue;
}

/* reduces layout shift of videos */
video {
  max-width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
}

.scrollbar-purple::-webkit-scrollbar-thumb {
  background-color: #8b5cf6;
}

/* #sidebar {
  background-image: url("/images/dotsBackground.png");
} */
.animated-gradient:hover {
  background-position: right center;
  /* transition: 0.25s; */
  background-size: 200% auto;
  color: white;

  box-shadow: 0 2px 10px #612186;
  border-radius: 10px;
  background-image: linear-gradient(
    to right,
    #fbc2eb 0%,
    #a6c1ee 51%,
    #fbc2eb 100%
  );

  /* COLORING for form square when its clicked */
} /* COLORING, color when button is hovered over */

.field {
  margin-bottom: 0.875rem; /* 14px */
  caret-color: rgb(106, 170, 230);
}

.label-styling {
  display: inline-block;
  width: 6rem; /* 96px */
}

.glow:hover {
  text-shadow: 0px 0px 3px #81cee4; /* COLORING for form square when its clicked */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "AkayaKanadaka Script", serif;
}

/* hero heading */
.heading-styling {
  font-size: 1.7rem;
  line-height: 1.75rem; /* 28px */

  /* border-bottom-width: 4px; */
  display: inline-block;
  margin-bottom: 20px;
  padding-bottom: 10px;
  font-family: "AkayaKanadaka Script", serif;
}

.input-styling {
  background: #dbeafe;
  border-radius: 0.5rem;
  margin-top: 7px;
  padding-left: 10px;
  padding-top: 6px;
  padding-bottom: 6px;
}

input::placeholder {
  color: #220749;
  opacity: 0.6;
}
.project-titles {
  margin-bottom: 4px;
  font-weight: 600;
  font-size: 1.7rem;
  line-height: 1.75rem; /* 28px */
  font-family: "AkayaKanadaka Script", serif;
  margin-bottom: 20px;
}

.project-coding-languages {
  display: inline-block;
  margin-bottom: 10px;
  font-weight: 700;
}

.icon:hover {
  background-position: right center;
  transition: 1s;
  border-radius: 8rem;
}

.gradient {
  background-image: linear-gradient(
    to right,
    #fbc2eb 0%,
    #a6c1ee 51%,
    #fbc2eb 100%
  );
}

.skip-link {
  position: absolute;
  transform: translateY(-300%);
  transition: transform 0.3s;
}
.skip-link:focus {
  transform: translateY(0%);
}
.shadow-transition-effect:hover {
  /* gradient bottom border color effect */

  filter: drop-shadow(1mm 3mm 1mm #889bcc);
  transition: 1s;
  /*
  ); */

  /* end of gradient code */
}

.background-tile {
  background-color: #d6e8ff;
  border-radius: 1rem;
  padding: 1rem;
  margin-top: 1rem;
  box-shadow:
    0 4px 6px -1px rgba(89, 21, 197, 0.1),
    0 10px 4px -2px rgba(57, 9, 131, 0.1);
  border-right: 1px solid #d1d5db;
}

.project-description {
  white-space: pre-line;
}
.wave {
  animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s; /* Change to speed up or slow down */
  animation-iteration-count: infinite; /* Never stop waving :) */
  transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
  display: inline-block;
}

.li-icons::before {
  display: inline-block;
  width: 10px;
  height: 10px;
  content: "";
  margin-right: 10px;
  background-repeat: no-repeat;

  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3C!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--%3E%3Cpath d='M256 512a256 256 0 1 0 0-512 256 256 0 1 0 0 512zm0-352a96 96 0 1 1 0 192 96 96 0 1 1 0-192z' fill='%23220749'/%3E%3C/svg%3E");
  background-size: contain;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}

.gradient-line {
  /* gradient bottom border color effect */
  border-image: linear-gradient(
    0.25turn,
    rgba(255, 153, 230),
    rgba(245, 156, 251),
    rgba(193, 126, 251),
    rgba(181, 166, 249),
    rgba(134, 158, 244)
  ); /* COLORING */
  border-image-slice: 1;

  /* end of gradient code */
}

.gradient-line-full-underline {
  /* gradient bottom border color effect */
  border-image: linear-gradient(
    0.25turn,
    rgba(255, 153, 230),
    rgba(245, 156, 251),
    rgba(193, 126, 251),
    rgba(181, 166, 249),
    rgba(134, 158, 244)
  ); /* COLORING */
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
