---
const { href, label, download=false, color = "bg-violet-800", styling } = Astro.props;


let downloadName: string | undefined;


if (download) { 
  
    try {
      const url = new URL(href, Astro.url.origin);
      const pathname = url.pathname;
      const filename = pathname.split("/").pop() || "download";
      downloadName = filename;
    } catch {
    
      downloadName = href.split("/").pop()?.split("?")[0] || "download";
    }
  
}

console.log("downloadName", downloadName);
---

<a
  href={href}
   {...(downloadName ? { download: downloadName } : {})}
  class={`inline-block px-4 py-2 m-1 rounded-2xl text-white no-underline ${color} hover:bg-blue-600 hover:text-white ${styling}`}

>
  {label}
</a>